/* reset css */
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px !important;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

button[disabled] {
  pointer-events: none;
}

input {
  padding: 0;
}

input:required {
  box-shadow: none;
}

input:invalid {
  box-shadow: none;
}

nav {
  width: 100%;
  height: 60px;
  display: flex;
  background-color: beige;

  ul {
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: end;

    li {
      display: flex;
      margin: auto 1rem;
      font-size: 1.5rem;

      a {
        color: darkolivegreen;

        &:hover {
          color: cornflowerblue;
        }

        &:checked {
          color: darkolivegreen
        }
      }
    }
  }
}

.search-area {
  display: flex;
  justify-content: center;
  margin: 4rem;

  input {
    height: 2rem;
    width: 20rem;
    margin-right: 2rem;
    margin-top: 0.2rem;
    outline: 2px solid darkolivegreen;
  }

  button {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: darkolivegreen;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    :active {
      box-shadow: 0px 0px 0px 0px;
      top: 5px;
      left: 5px;
    }
  }
}

footer {
  display: flex;
  height: 60px;
  background-color: beige;

  h3 {
    width: 100%;
    text-align: center;
    margin: auto 0;
    color: darkolivegreen;
  }
}

.pictures {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  .picture img {
    width: 100%;
    height: auto;
    margin: 1rem;
    display: block;
    padding: 2rem;
    &:hover {
      outline: 2px solid beige;
    }
  }
}

.about {
  width: 80%;
  height: 75vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 6rem auto;
  display: flex;
  font-size: 1.2rem;
}

.more-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 4rem auto;

  button {
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      letter-spacing: 2px;
      text-decoration: none;
      text-transform: uppercase;
      color: darkolivegreen;
      cursor: pointer;
      border: 3px solid;
      padding: 0.25em 0.5em;
      box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
      position: relative;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
  
      :active {
        box-shadow: 0px 0px 0px 0px;
        top: 5px;
        left: 5px;
      }
    }
}